@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.poppins {
    font-family: 'Poppins', sans-serif;
}

.blueShadow {
    box-shadow: 0px 14px 55px rgba(109, 40, 217, 0.45);
}

.specialSpin {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}